/*--header start--*/
body{
    margin: 0;
    padding: 0;
    background-color: #0CA2C3;
}
.banner{
}
.wrapper{
    overflow: hidden;
    width: 85%;
    margin: 0 auto;
}
.logo_menu{
    
}
.logo_menu h1{
       
    font-family: sans-serif;
     FONT-SIZE: 35px;
    color: white;
    color: white;
}
.logo_menu ul{
     float: right;   
}
.logo_menu ul li{
      list-style: none;
    float: left;
}
.logo_menu ul li a{
    font-family: serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    float: right;
    padding: 0 20px;
}
.logo_menu ul li a:hover{
    color: white;
    background: #0A9EC4;
}
.title{
        padding-top: 100px;
    padding-left: 50px;
}
.title h1{
    font-family: monospace;
    font-size: 30px;
    color: white;
}
.title p{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
}
.img img{
    width: 15%;
    float: right;
    padding-right: 100px;}
.alltitle img{
    
}
.title_text{
      float: left;  
}
.button{
        padding-left: 70px;
    padding: 40px;
}
.btn{
    font-family: cursive;
    color: white;
    background-color: #F45F65;
    border-radius: 7%;
    text-transform: uppercase;
    width: 180px;
    height: 50px;
    
}

/*--header end--*/
/*banner start*/
.banner2{
    background-color: white;
        background-color: white;
    padding-top: 100px;
}
.img2{
   float: left;
    padding-top: 40px;
}
.img2 img{
    width: 70%;
}
.title_text2{
 font-family: sans-serif;font-family: sans-serif;  
}
.title_text2 h1{
   font-size: 20px;
    line-height: 35px; 
}
.title_text2 p{
        float: right;
    width: 50%;
}
button{
      
}
.btn2{
  color: white;
    padding: 20px;
    background-color: #0B9DC6;
    border-radious: 20%;
    border-radius: 40%;
}
/*banner end*/
/*banner2 start*/
.banner3{
      padding-top: 250px;
    background-color:white;
}
.img3{
 float: right; 
        padding-top: 160px;
}
.img3 img{
    
}
.title_text3{
       width: 50%;
    float: left; 
}
.banner2_title_text{
       padding-bottom: 50px;
 
}
.banner2_title_text h1{
    line-height: 50px;
    /* line-height: 20px; */
    letter-spacing: 1px;
    word-spacing: 5px;  
}
.banner2_title_text p{
        line-height: 20px;
    letter-spacing: 1px;
    word-spacing: 5px;
}
.services{
    
}
.servicelogo{
     padding-left: 50px;
    padding-top: 20px;
    float: left;
    width: 10%;   
}
.servicelogo img{
    
}
.servicetext{
      width: 80%;
    float: right;  
}
.servicetext h3{
    
}
.servicetext p{
    
}

/*banner2 end*/
/*box start*/
.box_start{
        padding-top: 50px;
    padding-bottom: 150px;
    float: left;
}
.box_start1{
        padding-top: 50px;
    padding-bottom: 150px;
    float: left;
}
.box_start2{
        padding-top: 50px;
    padding-bottom: 150px;
    float: left;
}
.box{
        margin-left: 100px;
    /* padding: 5px 20px; */
    padding-right: 50px;
    width: 300px;
    height: 300px;
    background-color: white;
}
.box_title{
    
}
.box img{
      padding-left: 100px;
    padding-top: 20px;  
}
.box h2{
   font-family: sans-serif;
    font-size: 20px;
    text-align: center; 
}
.box p{
        font-family: serif;
    text-align: center;
    line-height: 25px;
}
.btn3{
      padding-left: 100px;  
}
.btn3mini{
    padding: 10px;
    background-color: cadetblue;
    border-radius: 60%;
    border: none;
}
/*box end*/